@import "tailwindcss";

@layer utilities {
  .image-pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

/* Custom retro scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f131a;
}
::-webkit-scrollbar-thumb {
  background: #2d3748;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a5568;
}
